/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
background: linear-gradient(to left, #dae7bd, #3e574e);
color: rgb(246,242,158);
text-align: center;
padding: 50px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
