/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
background-color: rgb(62,87,78);
color: rgb(246,242,158);
text-align: center;
padding: 50px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
